player-connection-mode=Connect
player-connection-guid=1773703713
player-connection-debug=0
player-connection-project-name=JasperFlicks Tutorials (BRP)
player-connection-wait-timeout=-1
player-connection-ip=172.23.32.1
player-connection-ip=169.254.83.107
player-connection-ip=10.0.0.19
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=290d135c3630434bacf4f3fca0042741
